@charset "UTF-8";

/* Configuraçoes gerais */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Sriracha&display=swap');

@media all {
    * {
        font-family: 'Roboto Slab', serif;
        margin: 0px;
        padding: 0px;
    }

    body {
        font-size: 16px;
    }

    header {
        background-color: rgb(69, 167, 134);
        text-align: center;
    }

    header h1, p {
        margin: 0px;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    form {
        background-color: lightgray;
        margin: 10px auto;
        max-width: 400px;
        height: 580px;
        box-shadow:-1px 1px 2px 1px rgba(0, 0, 0, 0.459);
    }

    fieldset {
        padding: 10px;
    }

    .questoes {
        padding: 8px;
    }

    div#interacoes {
       display: block;
       text-align: center;
    }
}

@media screen and (max-width: 600px) {

}