@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: #f49b94b6;
    font-family: Arial, Helvetica, sans-serif;
    color: #8F170E;
    
}

#main {
    background-color: #2CDB74;
    text-align: center;
    color: #DB382C;
}

div > p {
    display: none;
}

div:hover > p {
    text-align: justify;
    display: block;
    font-size: 20px;
    background-color: #2CDB74;
}

div.titulares {
    background-color: #B32D24;
    width: 450px;
    border: 2px solid black;

    margin: 10px auto 20px auto;
}

.time {
    color: yellow;
    text-align: center;
}

.time::before {
    color: lightgray;
    content: '▶';
}

.content {
    color: #FF584D;
    font-family: 'Roboto', sans-serif;
    font-size: bold;
}


   