@charset "UTF-8";

body {
    background: linear-gradient(to right, purple, rgb(0, 0, 168));
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid white;
    margin: 20px;
    color: #005353;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

/* Primeiro botão */

#button-1 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-1 a {
    position: relative;
    transition: all 0.3s ease-out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    position: absolute;
    background-color: antiquewhite;
    transition: all 0.3s ease-out;
    bottom: 0;
}

#button-1:hover #slide {
    left: 0;
}

#button-1:hover a {
    color: #2d3142;
}

/* Segundo botão */

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-2 a {
    position: relative;
    transition: all 0.3s ease-out;
}

#translate {
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    position: absolute;
    background-color: antiquewhite;
    transition: all 0.3s ease-out;
    bottom: 0;
    transform: rotate(50deg);
}

#button-2:hover #translate{
    left: 0;
}

#button-2:hover a {
    color: #2d3142;
}

/* terceiro botão */

#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-3 a {
    position: relative;
    transition: all 0.3s ease-out;
}

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    top: -30px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: antiquewhite;
    transition: all 0.4s ease-out;
    bottom: 0;
    transform: rotate(50deg);
    top: 20px;
    left: 70px;
}

#button-3:hover #circle{
    left: -70px;
    top: -70px;
    width: 200%;
    height: 500%;
    opacity: 1;
}

#button-3:hover a {
    color: #2d3142;
}

/* terceiro botão */

#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-4 a {
    position: relative;
    transition: all 0.3s ease-out;
}

#spin {
    width: 0%;
    height: 0%;
    opacity: 0;
    transform: rotate(0deg);
    position: absolute;
    background-color: antiquewhite;
    transition: all 0.5s ease-out;
    top: 20px;
    left: 70px;
}

#button-4:hover #spin{
    left: -70px;
    top: -70px;
    width: 200%;
    height: 500%;
    opacity: 1;
    background: #bfc0c0;
    transform: rotate(80deg);
}

#button-4:hover a {
    color: #2d3142;
}





